body{
  background-color: black;
}

#topBanner{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

#topMarquee{
  background-color: yellow;
  height: 64px;
}

#topNav{
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 64px;
  position: relative;
}

#topLogo{
  position: absolute;
  height: 54px;
  top: 5px;
  left: 5px;
}

#navContent{
  color: white;
  float: right;
}

#bottomNav{
  position: fixed;
  background-color: black;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  border-top: 1px solid white;
}

#bottomNav span{
  position: relative;
  height: 64px;
  width: 25%;
  float: left;
  padding-top: 16px;
  box-sizing: border-box;
  border-left: 1px solid white;
  text-align: center;
}

#bottomNav span:nth-child(1){
  border-left: none;
}

#bottomNav span img{

  height: 34px;
}

#mainContent{
  width: 100%;
}

#mainContentContainer{
  top: 128px;
  bottom: 0px;
  position: absolute;
  left: 0;
  color: white;
  overflow: scroll;
  width: 100%;
}

#title{
  height: calc(100% - 64px);
  width: 100%;
 

 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleContainer{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  height: calc(100% + 0px);
  position: relative;
  z-index: 2;
}


.dateBar{
  background-color: white;
  color: black;
  height: 64px;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
}

.mainContentBlock{
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainContentTextL{
  font-size: 30px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.sideImages{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.sideImages > img{
  max-width: 80%;
  width: 320px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border: 2px solid white;
}

.mainContentBlock.yellow{
  background-color: yellow;
  color: #000;;
}

.mainContentBlock.white{
  background-color: white;
  color: #000;;
}

.mainContentBlock > video{
  max-width: 80%;
  width: 320px;
  border: 2px solid white;
}

.sideScroll{
  width: 100%;
  overflow: hidden;
}

.sideScrollContainer{
display: grid;
height: 200px;
overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  max-width: 100%;
}

.sideScrollEl{
  scroll-snap-align: center;
  object-fit: contain;
  max-width: none;
  margin-left: 100px;
  margin-right: 100px;
  width: 200px;
}

.previousEditionLabel{
  font-size: 30px;
  display: inline;
}

.previousEditionContent{
  border-top: 2px solid black;
}

.borderTopBlack{
  border-top: 2px solid black;
}