@font-face {
  font-family: "Metal Reg-2";
  src: url("../assets/fonts/metal-reg-2/Metal-Reg-2.eot");
  /* IE9*/
  src: url("../assets/fonts/metal-reg-2/Metal-Reg-2.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("../assets/fonts/metal-reg-2/Metal-Reg-2.woff2") format("woff2"),
    /* chrome、firefox */
    url("../assets/fonts/metal-reg-2/Metal-Reg-2.woff") format("woff"),
    /* chrome、firefox */
    url("../assets/fonts/metal-reg-2/Metal-Reg-2.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../assets/fonts/metal-reg-2/Metal-Reg-2.svg#Metal Reg-2") format("svg");
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Metal Reg-1';
  src: url('../assets/fonts/metal-reg-1/Metal-Reg-1.eot');
  src: url('../assets/fonts/metal-reg-1/Metal-Reg-1.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/metal-reg-1/Metal-Reg-1.woff2') format('woff2'),
    url('../assets/fonts/metal-reg-1/Metal-Reg-1.woff') format('woff'),
    url('../assets/fonts/metal-reg-1/Metal-Reg-1.ttf') format('truetype'),
    url('../assets/fonts/metal-reg-1/Metal-Reg-1.svg#Metal-Reg-1') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: hidden;
  touch-action: pan-x pan-y;
}

a {
  color: inherit;
}


body {
  background-color: black;
  overscroll-behavior-x: contain;
  overscroll-behavior-y: none;
  overflow: hidden;
  font-family: 'Metal Reg-1';
}

#topBanner {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

#topBanner a {
  text-decoration: none;
}

#topMarquee {
  background-color: #e2ff00;
  height: 64px;
  font-size: 37px;
  overflow: hidden;
  font-family: "Metal Reg-2";
  color: black;
  white-space: nowrap;
  width: 100%;
}
/* 
#topMarquee>.marqueeContainer>span{
  padding-left: 16px;
} */

#topMarquee span span{
  padding-right: 16px;
  padding-left: 16px;
}

#topMarquee .outline {
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

#topNav {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 64px;
  position: relative;
  background-color: black;
}

#topLogo {
  position: absolute;
  height: 54px;
  top: 5px;
  left: 5px;
}

#navContent {
  color: white;
  float: right;
  font-size: 20px;
  position: relative;
  top: 14px;
}

#navContent>a {
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
}

#navContent>a:hover {
  opacity: 0.5;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

#bottomNav {

  background-color: black;
  position: relative;


  height: 37px;
  border-top: 1px solid white;
}

#bottomNav span {
  position: relative;
  height: 37px;
  width: 25%;
  float: left;
  padding-top: 7px;
  box-sizing: border-box;
  border-left: 1px solid white;
  text-align: center;
}

#bottomNav span:nth-child(1) {
  border-left: none;
}

#bottomNav span img {

  height: 23px;
}

#mainContent {
  width: 100%;
  padding-bottom: 120px;
}

#mainContentContainer {
  top: 130px;
  bottom: 0px;
  position: absolute;
  left: 0;
  color: white;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  overscroll-behavior-x: contain;
}

#title {
  height: calc(100% - 128px);
  width: 100%;
  font-family: "Metal Reg-2";
  font-size: 55px;
line-height: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#titleContainer {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  height: calc(100% + 0px);
  position: relative;
  z-index: 6;
  overflow: hidden;
}


.dateBar {
  background-color: white;
  color: black;
  height: 64px;
  border-top: 1px solid #e2ff00;
  border-bottom: 1px solid #e2ff00;
}

.mainContentBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainContentTextL {
  font-size: 30px;
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Metal Reg-1";
  max-width: 800px;
  margin-top: 64px;
  margin-bottom: 64px;
}

@media only screen and (min-width: 600px) {
  .mainContentTextL {
    font-size: 46px;
  }
  #title {
    font-size: 110px;
  }
}




.sideImages {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  flex-wrap: nowrap;
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  margin-top: 32px;
  margin-bottom: 32px;
}

.sideImages>img {
  /* max-width: 80%; */
  width: 30%;
  height: 40vw;
  object-fit: cover;
  margin-bottom: 32px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: 30px; */
  border: 2px solid white;
  flex-basis: 33.3333%;
}

@media only screen and (min-width: 600px) {
  .sideImages {
    display: flex;
  }
}

.mainContentBlock.yellow {
  background-color: #e2ff00;
  color: #000;
  ;
}

.mainContentBlock.white {
  background-color: white;
  color: #000;
  ;
}

.mainContentBlock>video {
  max-width: 80%;
  width: 320px;
  height: 404px;
  border: 2px solid white;
  margin-bottom: 32px;
  object-fit: cover
}


.sideScroll {
  width: 100%;
  overflow: hidden;
}

.sideScrollContainer {
  display: grid;
  height: 350px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  max-width: 100%;
}

.sideScrollEl {
  scroll-snap-align: center;
  object-fit: contain;
  max-width: none;
  margin-left: 100px;
  margin-right: 100px;
  width: 350px;
  text-align: center;
}

.sideScrollElQuote {
  font-size: 38px;
}

.sideScrollElSource {
  margin-top: 32px;
  font-size: 24px;
}

.previousEditionLabel {
  font-size: 30px;
  display: inline;
  font-family: "Metal Reg-1";
}

.previousEditionContent {
  display: none;
  border-left: 3px solid black;
  margin-top: -2px;
}

#bottomTicketInfo {
  display: none;
}

@media screen and (min-width: 600px) {
  .previousEditionContent {
    display: block;
  }

  #bottomTicketInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 72px;
    padding-bottom: 64px;
  }

  #bottomTicketInfo .mainContentTextM{
    max-width: 400px;
  }

}

.borderTopBlack {
  border-top: 2px solid black;
}

.previousEditionLabels {
  width: 100%;
  overflow: hidden;
  margin-bottom: -2px;
}

.previousEditionsContainer {
  background-color: white;
  ;
  width: 100vw;
}

.previousEdition {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100px;
  background-color: white;
  grid-area: 1 / 1 / 2 / 2;

}

.previousEditions {
  position: relative;
  display: grid;
  z-index: 1;
}

.previousEditionPoster {
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 16px;
  padding-top: 32px;
  min-height: 200px;
}

.previousEditionContent {
  width: 100vw;
  padding-top: 36px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 64px;
  box-sizing: border-box;
  font-size: 36px;
}

.previousEditionContent>div {
  padding-top: 8px;
}


.previousEditionStats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.previousEditionStats div {
  width: 45vw;
}

.mainContentTextM {
  font-size: 24px;
}

.mainContentBlockText {
  padding-left: 16px;
  padding-right: 16px;
}

.ticketInfo div {
  margin-top: 16px;
}

.ticketInfo a {
  text-decoration: none;
}

.price {
  color: #e2ff00;
  margin-bottom: 32px;
  font-size: 74px;
  line-height: 0.8em;
}

.simpleButton {
  font-size: 24px;
  background-color: white;
  color: black;
  border-radius: 32px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 11px;
  margin-top: 12px;
  margin-bottom: 36px;
white-space: nowrap;
}

.simpleButton.black {
  background-color: black;
  color: white;
}

.simpleButton.yellow {
  background-color: yellow;
  color: black;
}

.dateMarquee {
  font-size: 40px;
  height: 60px;
  overflow: hidden;
  font-family: "Metal Reg-2";
  color: transparent;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
  white-space: nowrap;
  background-color: white;
  border-top: 2px solid #e2ff00;
  border-bottom: 2px solid #e2ff00;
}

#mailerContainer {
  background-color: white;
  color: black;
  font-size: 24px;
  transition: transform 1s;
}

#mailerContainer.hide{
  transform: translateY(200px);
}

#mailerTitle {
  height: 37px;
  border-top: 2px solid #e2ff00;
  border-bottom: 1px solid #e2ff00;
  padding-left: 12px;
}

#mailerClose{
  background-color: transparent;
  position: absolute;
  top: 0px;
  font-family: inherit;
  right: 18px;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

#emailAddress {
  height: 37px;
  margin: none;
  box-sizing: border-box;
  border: none;
  width: calc(100vw - 64px);
  font-family: "Metal Reg-1";
  font-size: 24px;
  color: rgb(107, 107, 107);
  padding-left: 12px;
  padding-bottom: 8px;
}

#emailAddress::placeholder {
  color: lightgray;
}

#emailForm {
  border-top: 1px solid #e2ff00;
  border-bottom: 2px solid #e2ff00;
}

#submitEmail {
  float: right;
  color: rgb(107, 107, 107);
  background-color: transparent;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 42px;
  right: 12px;
  font-family: "Metal Reg-1";
}


.ticketButtonContainer {
  margin-top: 32px;
  margin-bottom: 64px;
}

.gliderContainer {
  width: 100vw;
  margin-bottom: -1.5px;
}


.carouselImg {
  width: 100vw;
  max-height: calc(100vh - 220px);
  object-fit: cover;
}

.photoGlider{
  background-color: black;
  /* height: calc(100vh - 128px);
  object-fit: contain; */
}

.photoGlider .glide__bullet {
  background-color: #e2ff00;
  opacity: 1;
}

.photoGlider .glide__bullet--active {
  background-color: #e2ff00;
  opacity: 0.5;
}

.sponsorLogo {
  width: 86px;
}

.sponsorLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 32px;
  margin-bottom: 32px;
}

.dateMarquee {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}


.marqueeContainer {
  position: absolute;
  width: max-content;
  white-space: nowrap;
  will-change: transform;
}

.dateMarquee>.marqueeContainer {
  top: -4px;
}


.quotesContainer {
  width: 100vw;
  text-align: center;
}

.quote {
  font-size: 38px;
  padding-left: 16px;
  padding-right: 16px;
}

.quotesContainer .glide__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

@media only screen and (min-width: 600px) {
  .quote {
    padding-left: 32px;
    padding-right: 32px;
  }

  /* Remove this if we add more quotes */
  .quotesContainer{
    pointer-events: none;
  }

  .quotesContainer .glide__bullet {
    display: none;
  }



}


.quoteSource {
  font-size: 24px;
  padding-top: 32px;
  padding-bottom: 64px;
}


.quotesContainer .glide__bullet {
  background-color: black;
}


.quotesContainer .glide__bullet--active {
  background-color: black;
  opacity: 0.5;
}

.previousEdition.active {
  z-index: 99;
}

.previousEdition img{
  display: none;
}


.previousEdition.active img {
  display: block;
}

#overlayTop>path.active {
  z-index: 99;
  position: relative;
}


#overlayTop>text.active {
  z-index: 99;
  position: relative;
}

#titleContainer>video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.previousEditionsTitle {
  font-size: 38px;
  padding-bottom: 16px;
}

#topTicketInfo {
  padding-left: 32px;
  padding-right: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#topTicketInfo > .price{
  padding-bottom: 32px;
}

#prevPhotoGliderMarquee{
  display: none;
}

#titleButton{
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
}

@media only screen and (min-width: 600px) {
  #topTicketInfo {
    display: none;
  }
  .previousEditionsTitle {
    font-size: 46px;
  }

  .previousEdition{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .previousEditionPoster{
    width: 40vw;
    margin-left: 32px;
    margin-right: 32px;
    
  }
  #prevPhotoGliderMarquee{
    display: block;
  }
  #postPhotoGliderMarquee{
    display: none;
  }
  .simpleButton {
    font-size: 38px;
    padding-bottom: 18px;
    padding-left: 22px;
    padding-right: 22px;
  }
  #titleButton{
    font-size: 30px;
    bottom: 10px;
  }

}

#highlights{
  margin-top: 50px;
}

.topMargin{
  margin-top: 32px;
}

.center{
  text-align: center;
}

