@font-face {
  font-family: "centschbook-mono-bt-regular";
  src: url(/zd24/simple-things-2024/assets/fonts/CenSchMo.ttf);
}

body {
  background-color: black;
  margin: 0;
  color: white;
  font-family: "centschbook-mono-bt-regular";
  scroll-behavior: smooth;
}

#headerLogos {
  /* Cant use position: fixed here, breaks mix-blend-mode */
  mix-blend-mode: exclusion;
}
#test {
  background-color: black;
}

#landingVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.headerLogo {
  position: fixed;
  top: 2.5vw;
  width: 95vw;
  left: 2.5vw;
  pointer-events: none;
}

#headerLogoDesktop {
  display: none;
}

#lineup {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
  color: #fff;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  scroll-margin-top: 300px;
}

.w25 {
  width: 20vw;
  flex-grow: 0;
  flex-shrink: 0;
}

#content {
  padding: 40px 23px 30px 23px;
}

#headerLogoMobile {
  display: none;
}
#headerLogoDesktop {
  display: block;
}

.smallerLineup {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.smallerInfo {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  margin-top: 100px;
  margin-bottom: 50px;
}

.smallerFooter {
  color: #fff;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.spreadColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  color: #fff;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
  row-gap: 100px;
}

.remainder {
  display: inline-block;
  grid-column-end: span 2;
}

#footerVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

footer {
  display: flex;
  flex-direction: row;
  padding: 115px 23px 75px 23px;
  justify-content: space-between;
}

footer > div:nth-child(1) {
  width: 300px;
}

footer > div:nth-child(2) {
  flex-grow: 0.3;
}

footer > * > div:nth-child(1) {
  margin-bottom: 64px;
}

.largerText {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 110% */
}

#teamLove {
  width: 114px;
  height: 60px;
}

#crackLogo {
  width: 129px;
  height: 34px;
}

.smallerFooterInner {
  gap: 54px;
  display: flex;
  flex-direction: row;
}

.smallerFooterInner2 {
  gap: 54px;
  display: flex;
  flex-direction: row;
}

#headerContent {
  position: absolute;
  bottom: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  color: #fff;
  padding: 0 23px;
  row-gap: 100px;
  pointer-events: none;
}

#destopHeaderIntro {
  grid-column-start: 2;
  grid-column-end: span 3;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

#headerContent > div:nth-child(1) > div {
  width: 40%;
}
#headerContent > div:nth-child(1) > div:nth-child(2) {
  width: 100%;
}

#headerContent > div:nth-child(2) {
  /* grid-column-end: span 2; */
}

#menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  background-color: #fff;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 66px; /* 110% */
  padding: 29px 200px 29px 20px;
  box-sizing: border-box;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}
#menu.show {
  opacity: 1;
  pointer-events: all;
}

#menuClose {
  position: absolute;
  top: 29px;
  right: 20px;
  cursor: pointer;
}

#menuContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  column-gap: 84px;
  row-gap: 32px;
  justify-content: space-between;
}

.smallerMenu {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.menuLogoLinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

#menuOpen {
  position: fixed;
  top: 29px;
  right: 20px;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}
#menuOpen svg {
  width: 5vw;
}

#mobileHeaderIntro {
  display: none;
}

.mobileOnly {
  display: none;
}

@media screen and (max-width: 782px) {
  .mobileOnly {
    display: block;
  }
  .desktopOnly {
    display: none;
  }
  body {
    color: #fff;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
  }
  #destopHeaderIntro {
    display: none;
  }
  #mobileHeaderIntro {
    display: block;
  }
  #headerContent {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .mobilePluses {
    display: flex;
    flex-direction: row;
    width: 85%;
    justify-content: space-between;
    margin: 32px 0;
  }
  #content {
    display: block;
  }

  #moreTBA {
    margin: 24px 0;
  }
  footer {
    display: block;
  }
  .smallerFooter {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 36px;
    margin-top: 64px;
  }
  .smallerFooterInner2 {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
  #crackLogo {
    width: 39px;
    height: 10px;
  }
  #teamLove {
    width: 37px;
    height: 19px;
  }
  .smallerLineup {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
  footer > * > div:nth-child(1) {
    margin-bottom: 0;
  }
  #menuOpen > svg {
    width: 34px;
  }
  #menuOpen {
    top: 11px;
    right: 11px;
  }
  #headerLogoMobile {
    display: block;
    top: 11px;
  }
  #headerLogoDesktop {
    display: none;
  }
  #menuClose {
    top: 15px;
    right: 20px;
    width: 28px;
    height: 28px;
  }
  #menu {
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
    padding: 15px 50px 15px 20px;
  }
  .smallerMenu {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
  }
  #menuTeamLove {
    width: 61px;
    height: 33px;
  }
  #menuCrackLogo {
    width: 81px;
    height: 21px;
  }
}

#headerContent a {
  pointer-events: all;
}
